@model IEnumerable<Freelance.Models.ApplicationUser>

<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding" style="margin-top: 5%;">
    <div class="container">
        <div class="row" style="text-align: right;margin-bottom: 2%;">
            <div class="col-lg-12">
                <a class="boxed-btn3" href="#">Add User</a>
            </div>
        </div>
        <div class="row">
            @foreach (var user in Model)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <img src="@Url.Content(user.PhotoPath)" style="width: 229px; height: 100px" alt="">
                        </div>
                        <div style="margin-top: 5%;text-align: center;">
                            <p>@user.UserName</p>
                        </div>
                        <div style="margin-top: 5%;">
                            <a href="job_details.html" class="genric-btn danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination_wrap">
                    <ul>
                        <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                        <li><a href="#"><span>01</span></a></li>
                        <li><a href="#"><span>02</span></a></li>
                        <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- featured_candidates_area_end  -->